<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570648531036-ofte9r9gb5feei4u1o3jblm2676fiv96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570648531036-ofte9r9gb5feei4u1o3jblm2676fiv96</string>
	<key>API_KEY</key>
	<string>AIzaSyC6ViPgk_ULOXnhbZF4laEBPbxEZwbp2oM</string>
	<key>GCM_SENDER_ID</key>
	<string>570648531036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodary</string>
	<key>PROJECT_ID</key>
	<string>foodary-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foodary-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570648531036:ios:6b292079d7b464d20d9699</string>
</dict>
</plist>